@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}
.wrapper{
    display: flex;
}

.wrapper .first-text{
    font-size: 60px;
    color: #fff;

}
.wrapper .sec-text{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.sec-text li{
    position: relative;
    top: 0;
    font-size: 60px;
    color: cyan;
    animation: slide 12s steps(4) infinite, colorful 6s infinite;
    padding: 0 20px;
    text-shadow: 0 0 10px #0ef;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
@keyframes colorful {
    100%{
        filter: hue-rotate(360deg);
    }
}

.sec-text li span{
    position: relative;
}
.sec-text li span::before{
    content: '';
    position: absolute;
    background: #000;
    left: 0;
    width: 400px;
    height: 90px;
    border-left: 2px solid #0ef;
    animation: typing 1.5s steps(10) infinite alternate;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}